#category{

        letter-spacing: 0.125rem;
        font-weight: 600;
        font-size: 2.5rem;
        text-shadow: 0.125rem 0.125rem gray;
        
        margin: auto;
        margin-left: 1.875rem;
        padding-top: 3.75rem;
        padding-bottom: 2.5rem;
        color: #222831;
}

#buy{

    text-decoration: none;
    color: white;
}

#buy1{

    text-decoration: none;
    color: gray;
}

#buy1:hover{

    color: white;
}

#cardRow{

    padding-top: 1.875rem;
    padding-bottom: 3.75rem;
}

#button1:hover{

    color: white;
}

#reg{

    position: relative;
    top: 50px;
    margin-bottom: 70px;
}

#reg1{

    text-align: center;
    align-items: center;
}

#reg2{

    position: relative;
    top: 50px;
    margin-bottom: 180px;
}

#support{

    margin-bottom: 350px;
    margin-left: 20px;
}

@media only screen and (max-width: 768px) {

    #category{

        letter-spacing: 0.120rem;
        font-weight: 600;
        font-size: 2.2rem;
        text-shadow: 0.125rem 0.125rem gray;
        
        margin: auto;
        margin-left: 1.875rem;
        padding-top: 3.75rem;
        padding-bottom: 2.2rem;
        color: #222831;
}

#ic{

    font-size: 20px;
}

  }