#footer{

    height: 15.18rem;
    background-color: #232323;
    margin-top: 70px;
    color: white;
  }
  
  #footerTop{
  
    text-align: justify;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 2.5rem;
    padding: 1.875rem;
  }

  #address{

    float: left;
    padding-left: 1.25rem;
  }
  
  #contact{
  
    float: right;
    padding-right: 1.25rem;
    padding-top: 1.25rem;
  }
  
#icons{

    color: crimson;
    font-size: 2.1875rem;
    padding-bottom: 0.9375rem;
    text-shadow: rgb(97, 96, 96);
    padding-left: 0.9375rem;
  }

  #icons:hover{

    cursor: pointer;
    color: #D5DBB3;
  }
  
  .media{
  
    padding-left: 0.625rem;
    font-size: 1.875rem;
  }
  
  #head{
  
    color: crimson;
    padding-top: 1.25rem;
    padding-bottom: 0.625rem;
    
  }
  
  #mail{
  
    color: white;
    text-decoration: none;
  
  }
  
  #copy{
  
    font-size: 0.75rem;
    padding-top: 0.9375rem;
  }

  #about{
    
    width: 60%;
  }

  #socialMedia{

    align-items: center;
    position: relative;
   right: 0.1875rem;
  }

  @media only screen and (max-width: 768px) {

    #footer{

      height: 25.18rem;
      background-color: #232323;
      margin-top: 70px;
      color: white;
    }

    #about{
      
      font-size: 0.8rem;
      width: 40%;
    }

    #icons{

      color: crimson;
      font-size: 1.95rem;
      padding-bottom: 0.9375rem;
      text-shadow: rgb(97, 96, 96);
      padding-left: 0.9375rem;
    }

    #head{
      
      font-size: 1.6rem;
      color: crimson;
      padding-top: 1.25rem;
      padding-bottom: 0.625rem;
      
    }

    #contact{
      
      font-size: 0.8rem;
      float: left;
      /* padding-right: 1.25rem; */
      padding-top: 1.25rem;
    }

    #address{
      display: flex;
      flex-direction: column;
      flex: 0.65;
    }

    #address{
      display: flex;
      flex-direction: column;
      flex: 0.35;
    }

    #copy{

      font-size: 0.5rem;
      position: relative;
      top: 10px;
    }

  }