#navItem{
    font-size: 1.12rem;
    color: #FFE227;
  }
  
  #navItem:hover{
  
    color: gray;
    transition-delay: 100ms;
    transition-duration: 200ms;
    transition: ease-in;
  }
  
  #middle{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  #brand{
  
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
  }
  
  #navbar{
  
    background-color: #232323
  }
  
  #logo{
  
    height: 90px;
    width: 140px;
    border: 0px;
  }
  
  #brand{
  
    font-weight: 1000;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
  }
  #brandF{
  
    color: #FFE227;
  }
  
  #brandL{
  
    color: #D5DBB3;
  }
  
  #cart{
  
    color: #D5DBB3;
  
  }
  
  #line{
  
    color: #D5DBB3;
  }
  
  .sidebar__search {
    display: flex;
    align-items: center;
    height: 39px;
    padding: 10px;
  }
  
  .sidebar__searchContainer{
  
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 25px;
  }
  
  .sidebar__searchContainer > .MuiSvgIcon-root{
  
    border: none;
    color: rgb(184, 176, 176);
    padding: 10px;
    font-size: 2.5rem;
  }
  
  .sidebar__searchContainer > .MuiSvgIcon-root:hover{
    cursor: pointer;
  }
  
  .sidebar__searchContainer > input{
  
    border: none;
    outline-width: 0;
    margin-left: 15px;
  }
  
  @media only screen and (max-width: 600px) {
    
    .sidebar__searchContainer{
      
      position: relative;
      left: 4.8rem;
      display: flex;
      align-items: center;
      background-color: white;
      width: 65%;
      height: 35px;
      border-radius: 25px;
    }

    #brand{
  
      color: black;
      font-family: 'Dancing Script', cursive;
      font-size: 1.4rem;
    }

    #navItem{
      font-size: 1rem;
      color: #FFE227;
    }

    #cart{
  
      color: #D5DBB3;
      font-size: 22px;
    }

  }

  
  