#navItem{
    font-size: 1.12rem;
    color: #FFE227;
  }
  
  #navItem:hover{
  
    color: gray;
  }
  
  #middle{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  #brand{
  
    color: black;
    font-family: 'Dancing Script', cursive;
    font-size: 1.8rem;
  }
  
  
  #btn{
  
    border-radius: 25px;
    font-size: 19px;
  }
  
  
  .desc{
    background-color: greenyellow;
    height: 100px;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  
  /* .desc1{
    background-color: gray;
    height: 200px;
    width: 40%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  } */
  /* .card{
  
    display: flex;
  } */
  
  
  
  @media(max-width: 998px)
  {
    html{
      font-size: 90%;
    }
  }
  
  .hack1{
  
    background-color: #FFE227;
  }
  
  .hack2{
  
    background-color: #D5DBB3;
  }
  
  #navbar{
  
    background-color: #232323
  }
  
  #logo{
  
    height: 90px;
    width: 140px;
    border: 0px;
  }
  
  #brand{
  
    font-weight: 1000;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
  }
  #brandF{
  
    color: #FFE227;
  }
  
  #brandL{
  
    color: #D5DBB3;
  }
  
  #cart{
  
    color: #D5DBB3;
  
  }
  
  #line{
  
    color: #D5DBB3;
  }
  
  .sidebar__search {
    display: flex;
    align-items: center;
    /* background-color: #f6f6f6; */
    height: 39px;
    padding: 10px;
  }
  
  .sidebar__searchContainer{
  
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 25px;
  }
  
  .sidebar__searchContainer > .MuiSvgIcon-root{
  
    border: none;
    color: gray;
    padding: 10px;
    font-size: 2.5rem;
  }
  
  .sidebar__searchContainer > .MuiSvgIcon-root:hover{
    cursor: pointer;
  }
  
  .sidebar__searchContainer > input{
  
    border: none;
    outline-width: 0;
    margin-left: 15px;
  }
  
  #im{
  
    height: 36.25rem;
    
  }
  
  #cat{
  
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #232323
  }
  
  #card{
  
    
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 35px;
  }
  
  #section{
  
    margin-top: 8%;
    margin-left: 8%;
    
  }
  
  #section:hover{
  
    cursor: pointer;
    -webkit-box-shadow: -1px 9px 40px -12px gray;
  }
  
  #best{
    align-items: center;
    margin: auto;
    text-align: center;
    z-index: -1;
  }
  
  hr {
    border: 0;
    height: 2px;
    
    background-image: linear-gradient(to top, white, #FFE227,  white);
  }
  
  #carousal{
  
    margin-bottom: 20px;
  }
  
  #but{
  
    padding: 7px;
  }
  
  #footer{
  
    height: 211px;
    background-color: #232323;
    margin-top: 70px;
    color: white;
  }
  
  #footerTop{
  
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    padding: 30px;
  }
  
  
  #address{
  
    float: left;
    padding-left: 20px;
  }
  
  #contact{
  
    float: right;
    padding-right: 20px;
    padding-top: 20px;
  }
  
  #wallButton1{
  
    float: left;
  }
  
  #wallButton2{
  
    float: right;
  }
  
  #icons{
  
    color: crimson;
    font-size: 30px;
    padding-bottom: 10px;
    text-shadow: white;
  }
  
  .media{
  
    padding-left: 10px;
    font-size: 30px;
  }
  
  #head{
  
    color: crimson;
    padding-top: 20px;
    padding-bottom: 10px;
    
  }
  
  #mail{
  
    color: white;
    text-decoration: none;
  
  }
  
  #copy{
  
    font-size: 12px;
    padding-top: 15px;
  }