#cat{

    letter-spacing: 0.125rem;
    font-weight: 600;
    font-size: 2.5rem;
    text-shadow: 0.125rem 0.125rem gray;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 3.75rem;
    padding-bottom: 2.5rem;
    color: #222831;
  }

#card{

    margin-right: 1.25rem;
    margin-left: 1.25rem;
    border-radius: 1.875rem;
    
}

#shop{

    background-image:  linear-gradient(white, hsl(59, 79%, 62%), white);
    font-family: 'Roboto', sans-serif;

}
  
  #section{
  
    margin-top: 8%;
    margin-left: 8%;
    z-index: 1;
  }
  
  #section:hover{
  
    cursor: pointer;
    -webkit-box-shadow: -0.0625rem 0.5625rem 2.5rem -0.75rem gray;
  }
  
  #routerLink{

    text-decoration: none;
  }

  
  @media only screen and (max-width: 768px) {

    #cat{

      letter-spacing: 0.125rem;
      font-weight: 600;
      font-size: 1.8rem;
      text-shadow: 0.125rem 0.125rem gray;
      align-items: center;
      margin: auto;
      text-align: center;
      padding-top: 3.75rem;
      padding-bottom: 2.5rem;
      color: #222831;
    }

  }

#but{

  align-items: center;
  text-align: center;
}

#wallButton{

 width: 100%;
}

#routerLink{

  text-decoration: none;
  color: #000;
}