#cat{

    letter-spacing: 2px;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 2px 2px gray;
    align-items: center;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px;
    color: #222831;
  }

#card{

    margin-right: 20px;
    margin-left: 20px;
    border-radius: 30px;
    
}

#shop{

    background-image:  linear-gradient(white, hsl(59, 79%, 62%), white);
    font-family: 'Roboto', sans-serif;

}
  
  #section{
  
    margin-top: 8%;
    margin-left: 8%;
    z-index: 1;
  }
  
  #section:hover{
  
    cursor: pointer;
    -webkit-box-shadow: -1px 9px 40px -12px gray;
  }
  